 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

 }

 body {
   position: relative;
   width: 100dvw;
   height: 100dvh;

   overflow-x: hidden;
 }

 .container {
   background-color: #8DBCC7;
   display: flex;
   flex-direction: column;
   text-align: center;
 }




 h1 {
   font-size: 3rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 900;
   letter-spacing: 5px;
   font-size: clamp(16px, 6dvw, 50px);
   text-transform: uppercase;
 }

 p {
   font-size: clamp(10px, 2dvw, 18px);
   font-family: sans-serif;
   font-weight: 500;

 }

 .hero-header {
   position: relative;
   background-image: url(/photo/peter-thomas-T-33kxpsAlY-unsplash.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: clamp(300px, 50dvh, 100dvh);
 }


 .header-list {
   position: relative;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(5px);
   box-shadow: 0 0 20px black;
   width: 100dvw;
   height: 40px;
   position: fixed;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   list-style-type: none;
   z-index: 1000;
 }


 .header-content a {
   position: relative;
   color: black;
   font-size: clamp(10px, 2dvw, 18px);
   text-decoration: none;
   text-transform: uppercase;
   font-family: sans-serif;
   padding: 4px 8px;
   /* top:1dvw; */
   position: relative;
   transition: all 0.5s;
 }

 .header-list a:hover {
   background-color: #8DBCC7;
   color: aliceblue
 }

 .header-content a:before {
   content: '';
   position: absolute;
   bottom: 12px;
   left: 12px;
   width: 12px;
   height: 12px;
   border: 2px solid #8DBCC7;
   border-width: 0 0 2px 2px;
   opacity: 0;
   transition: all .5s;
 }

 a:hover::before {
   opacity: 1;
   left: -3px;
   bottom: -3px;
 }

 .header-content a:after {
   content: '';
   position: absolute;
   top: 12px;
   right: 12px;
   width: 12px;
   height: 12px;
   border: 2px solid #8DBCC7;
   border-width: 2px 2px 0 0;
   opacity: 0;
   transition: all .5s;

 }

 a:hover::after {
   opacity: 1;
   top: -3px;
   right: -3px;
 }

 .hero-header-title {
   position: absolute;
   bottom: 5%;
 }

 .hero-header-title h1 {
   padding-bottom: 50px;
 }

 .hero-header-title p {
   margin-left: 20px;
   margin-right: 20px;
   background-color: rgba(0, 0, 50, 0.25);
   backdrop-filter: blur(4px);
   color: azure;
   padding: 10px;
   border-radius: 4px;
 }

 /* below this is for gallery */

 #gallery {
   position: inherit;
   width: 100dvw;
   text-align: center;
   overflow: hidden;

 }

 .gallery-content {
   width: inherit;
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fit, 20rem);
   justify-content: center;
   padding: 4px;

 }

 .fig-content {
   height: clamp(100px, 30dvh, 200px);
   width: auto;
   margin: 10px;
   position: relative;
   border-radius: 4px;
   overflow: hidden;
   box-shadow: 0 0 4px grey;
   /* background-color: red; */

 }

 .fig-1,
 .fig-2,
 .fig-3,
 .fig-4,
 .fig-5,
 .fig-6 {
   height: clamp(100px, 30dvh, 200px);
   width: auto;

   position: relative;

 }

 /* why class name is not working for img */
 img {
   position: relative;
   object-fit: cover;
   height: 100%;
   width: 100%;
   transition: all .5s;
 }

 .fig-content:hover img {
   transform: scale(1.05);
 }


 figcaption {
   height: 80px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 0);
   /* background-color: red; */
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;

   overflow: hidden;
 }

 .bird {
   font-family: sans-serif;
   font-size: clamp(12px, 2dvh, 35px);
   text-transform: uppercase;
   transform: translateY(50px);
   font-weight: bold;
   background-color: rgba(237, 245, 245, 0.2);
   backdrop-filter: blur(5px);
   padding: 4px 10px;
   border-radius: 4px;
   opacity: 0;
   transition: all .5s;


 }

 .fig-content:hover .bird {
   transform: none;
   opacity: 1;
 }

 /* below this is for about */

 #about {
   width: auto;
   padding: 50px 0;
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .about-us-head {
   /* background-color: red; */
   padding: 24px 48px;
 }




 .about-card {
   width: 100%;
   height: 100%;
   /* background-color: red; */
   padding: 0 4px;
   position: relative;
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(auto-fit, 10rem);
   justify-content: space-around;
   align-items: center;
 }

 .about-card-content {
   height: 200px;
   position: relative;
   border-radius: 8px;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   overflow: hidden;
 }

 img {
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .card-content {
   width: 80%;
   height: 100%;
   position: absolute;
   background-color: rgba(240, 248, 255, 0.5);
   backdrop-filter: blur(2px);
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   flex-direction: column;
   text-transform: uppercase;
   /* bottom:-20px; */
   top: clamp(9rem, 21dvw, 10rem);
   /* top:8rem; */
   /* top:17dvw; */
   /* top:10rem; */
   transition: .5s all;

 }

 .card-content>p {
   font-size: 12px;
   font-family: sans-serif;
   padding: 0 14px;
 }

 .about-card-content:hover .card-content {
   top: 0;
   width: 100%;
   height: 100%;
 }

 .more {
   position: relative;
   padding: 2px 8px;
   border: 2px solid black;
   border-radius: 4px;
   background-color: transparent;
   overflow: hidden;
   cursor: pointer;
   transition: .5s all;

 }

 .more::after {
   content: '';
   position: absolute;
   width: 10%;
   height: 30%;
   background-color: red;
   left: 0;
   top: 0;
   transform-origin: center;
   z-index: -1;
   transition: .2s all;
 }

 .more:hover::after {
   width: 100%;
   height: 100%
 }

 .more:hover {
   box-shadow: 1px 1px 4px black;
 }

 .more:active {
   box-shadow: 0 0 4px black;
 }




 #contact {
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   text-align: center;
   align-items: center;
   overflow: hidden;

 }

 .contact-head {
   /* background-color: red; */
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   gap: 8px;
   padding-bottom: 12px;
 }

 .form {
   position: relative;
   padding: 12px;
z-index: 1;
 }

 .contact-form>input {
   border: none;
   border-radius: 4px;
   text-align: center;
   padding: 4px;
   margin: 8px;
 }

 .contact-form>input:hover {
   border: .5px solid black;
 }

 .contact-button {
   padding: 12px 0;
   display: inline-block;
   display: flex;
   justify-content: space-evenly;

 }

 .contact-button>button {
   position: relative;
   border: 2px solid black;
   padding: 2px 8px;
   border-radius: 4px;
   cursor: pointer;
   overflow: hidden;
   box-shadow: 4px 4px 8px black, -4px -4px 8px rgb(255, 255, 255);
 }


 .contact-button>button a {
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   color: black;


 }

 .cancle>a {
   z-index: 0;
 }

 .cancle>span:nth-child(1) {
   position: absolute;
   background-color: red;
   left: -2px;
   top: 0;
   height: 100%;
   clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
   overflow: hidden;
   padding: 2px 12px;
   z-index: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s all;
   z-index: 1;

 }

 .cancle>span:nth-child(2) {

   position: absolute;
   background-color: rgb(0, 255, 51);
   left: -2px;
   bottom: 0;
   height: 100%;
   overflow: hidden;
   padding: 2px 12px;
   clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
   z-index: 1;

   transition: .5s all;

 }

 .contact-button>button:hover span:nth-child(1) {
   transform: translateX(-2px);
 }

 .contact-button>button:hover span:nth-child(2) {
   transform: translateX(2px);
 }

 .send>a {
   z-index: 1;
 }

 .send::after {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: aquamarine;
   clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
   z-index: 0;
   transform: translateX(-80%);
   transition: .5s all;
 }

 .send:hover::after {
   transform: none;
 }
